@model WebUI.Models.BlogListViewModel
@foreach (var blog in Model.LastBlogs)
{
    <div class="right">
        <div class="bot-left">
            <img src="@blog.BlogImage" alt="" />
        </div>
        <div class="left-text">
            <h4>@blog.Baslik</h4>
            <span class="doller">@blog.Tarih.ToString("D")</span>
            <p>@blog.Aciklama.Substring(0,3)</p>
            <p><a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@blog.Id"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>
}